<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
    <meta name="author" content="Coderthemes">

    <link rel="shortcut icon" href="~/assets/images/favicon.ico">

    <title>School Management System</title>

    <link href="~/plugins/switchery/switchery.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/plugins/morris/morris.css">

    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/icons.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/style.css" rel="stylesheet" type="text/css">

    <script src="~/assets/js/modernizr.min.js"></script>

    @RenderSection("styles", required: false)
</head>
<body class="fixed-left">

    <!-- Begin page -->
    <div id="wrapper">
        <!-- Top Bar Start -->
        @{
            Html.RenderPartial("_TopBarPartial");
        }
        <!-- Top Bar End -->
        <!-- ========== Left Sidebar Start ========== -->
        @{
            Html.RenderPartial("_LeftSideBar");
        }
        <p>Breadcrumbs</p>
        @Html.ActionLink("Home", "Index", "Home")
        @if (ViewContext.RouteData.Values["controller"].ToString() != "Home")
        {
            @:> @Html.ActionLink(ViewContext.RouteData.Values["controller"].ToString(), "Index", ViewContext.RouteData.Values["controller"].ToString())
        }
        @if (ViewContext.RouteData.Values["action"].ToString() != "Index")
        {
            @:> @Html.ActionLink(ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString())
        }
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="content-page">
            <!-- Start content -->
            @RenderBody()

            @{
                Html.RenderPartial("_BottonFooter");
            }


        </div>
        <!-- ============================================================== -->
        <!-- End Right content here -->
        <!-- ============================================================== -->
        <!-- Right Sidebar -->
        <!-- /Right-bar -->

        @{
            Html.RenderPartial("_RightBarPartial");
        }

    </div>
    <!-- END wrapper -->
    <script>
        var resizefunc = [];
    </script>

    <!-- Plugins  -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script><!-- Popper for Bootstrap -->
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/detect.js"></script>
    <script src="~/assets/js/fastclick.js"></script>
    <script src="~/assets/js/jquery.slimscroll.js"></script>
    <script src="~/assets/js/jquery.blockUI.js"></script>
    <script src="~/assets/js/waves.js"></script>
    <script src="~/assets/js/wow.min.js"></script>
    <script src="~/assets/js/jquery.nicescroll.js"></script>
    <script src="~/assets/js/jquery.scrollTo.min.js"></script>
    <script src="~/plugins/switchery/switchery.min.js"></script>

    <!-- Counter Up  -->
    <script src="~/plugins/waypoints/lib/jquery.waypoints.min.js"></script>
    <script src="~/plugins/counterup/jquery.counterup.min.js"></script>

    <!--Morris Chart-->
    <script src="~/plugins/morris/morris.min.js"></script>
    <script src="~/plugins/raphael/raphael-min.js"></script>

    <!-- Page js  -->
    <script src="~/assets/pages/jquery.dashboard.js"></script>

    <!-- Custom main Js -->
    <script src="~/assets/js/jquery.core.js"></script>
    <script src="~/assets/js/jquery.app.js"></script>


    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $('.counter').counterUp({
                delay: 100,
                time: 1200
            });
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>