@model InstituteManagementSystem.Models.Student

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
@using (Html.BeginForm("Save", "Student"))
{
    <div class="form-group">
        @Html.LabelFor(i => i.Name)
        @Html.TextBoxFor(i => i.Name, new {@class = "form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(i => i.LastName)
        @Html.TextBoxFor(i => i.LastName, new {@class = "form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(i => i.Gender)
        @Html.DropDownList("Gender", new List<SelectListItem>
        {
            new SelectListItem {Text = @"Male", Value = "Male"},
            new SelectListItem {Text = @"Female", Value = "Female"}
        }, "--- Select ---", new {@class = "form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(i => i.DateOfBirth)
        @Html.EditorFor(model => model.DateOfBirth, new {htmlAttributes = new {@class = "form-control"}}) @*@Html.TextBoxFor(i => i.DateOfBirth,new {@class="form-control"})*@
    </div>
    @Html.HiddenFor(m => m.Id)
    <button type="submit" class="btn btn-primary">Update</button>
    @Html.ActionLink("Back","Index","Student",new {@class="btn btn-info"})
}