@model InstituteManagementSystem.Models.Student

@{
    ViewBag.Title = "New Customer";
}

<h2>New Customer</h2>

@using (Html.BeginForm("Save", "Student"))
{
    <div class="form-group">
        @Html.LabelFor(i => i.Name)
        @Html.TextBoxFor(i => i.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(i => i.LastName)
        @Html.TextBoxFor(i => i.LastName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(i => i.Gender)
        @Html.DropDownList("Gender", new List<SelectListItem>
        {
            new SelectListItem{ Text=@"Male", Value="Male"},
            new SelectListItem{ Text=@"Female", Value="Female"}
        }, "--- Select ---", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(i => i.DateOfBirth)
        @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control" } })        @*@Html.TextBoxFor(i => i.DateOfBirth,new {@class="form-control"})*@
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(document).ready(function() {
            $(function () { // will trigger when the document is ready
                $('.datepicker').datepicker(); //Initialise any date pickers
            });
        })
     
    </script>

}